node_modules
.env
dist
*.log
./backend/node_modules
./backend/dist
./frontend/node_modules
./frontend/dist
./backend/.env
./frontend/.env
./backend/backup
./frontend/backup
.DS_Store
.idea
.vscode
backend/backups/*
frontend/backups/*
backend/__pycache__/*
frontend/__pycache__/*
backend/.pytest_cache/*
frontend/.pytest_cache/*
backend/database/__pycache__/*
frontend/database/__pycache__/*


